.Item {
  margin: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  
  &:nth-child(even) {
    background: #f2f3f4;
  }
  &:nth-child(odd) {
    background: #bcc0c7;
  }

  &__delete {
    cursor: pointer;
    color: rgba(#495468, 0.5);
    transition: all ease-in 250ms;
    &:hover {
      color: rgba(#495468, 1);
    }
  }
}
